<form [formGroup]="filtersGroup" (ngSubmit)="onSubmit()">
    <div class="object-container">

        <!-- <app-dropdown formControlName="filterType" [data]="customFilters" [placeholder]="'Select filter type'"></app-dropdown>
        <app-dropdown formControlName="listOfOperators" [data]="operators" [placeholder]="'Select operator'"></app-dropdown> -->

        <app-custom-dropdown
            formControlName="filterType"
            [options]="customFilters" 
            [placeholder]="'Select filter type'"
            [isSearchEnabled]="true"
            (selectedOption)="onCustomFilterTypeSelected($event)">
        </app-custom-dropdown>

        <app-custom-dropdown 
            #operatorDropdown 
            formControlName="listOfOperators" 
            [options]="operators"
            [placeholder]="'Select operator'"
            [isSearchEnabled]="false" 
            (selectedOption)="onOperatorSelected($event)">
        </app-custom-dropdown>

        <div [ngSwitch]="valueComponentType">
            <app-custom-dropdown *ngSwitchCase="ValueComponentTypes.Select" 
                #valueDropdown 
                formControlName="value"
                [options]="values" 
                [placeholder]="'Select value'"
                (selectedOption)="onValueSelected($event)">
            </app-custom-dropdown>
            
            <app-custom-text-field *ngSwitchDefault 
                formControlName="value"
                [placeholder]="'Type in value'">
            </app-custom-text-field>
        </div>

        <button type="submit" [disabled]="filtersGroup.invalid">Submit</button>

    </div>
</form>